page-home {
  .swiper-slide {
    img {
      width: 40%;
    }
  }
  .movie-card {
    .img-container {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      img {
        width: 60%;
      }
    }
  }
}
